<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <input type="hidden" value="{{displayname_user}}" class="user-name-hederssssss">
            <div class="card" style="margin-top: 50px;">
               <div class="clearfix"></div>
               <div class="content" >
                  <div class="fakeloader"></div>
                  
                  <div class="no-transaction text-center" style="width: 100%">
                     
                     
                     <div class="well">
                        <label>Personal Affiliate link:</label> 
                        <div class="input-group">
                           <span class="input-group-btn">
                              <button class="btn btn-default copy" data-clipboard-action="copy" data-clipboard-target="#link" type="button">
                                 <div class="icon dripicons-copy"></div>
                                 Copy 
                              </button>
                           </span>
                           <input id="link" type="text" value="" class="form-control refferal_link"> 
                        </div>
                        <span class="help-block">You can use this personal affiliate link to invite your friends to. In case someone visits us using this URL and sign up, they will be automatically added to Your Affiliates list.</span><!-- /input-group --> 

                        <div style="margin: 0 auto; text-align: center;width: 135px;">
                           <div class="social refferal">
                              <a href="" class="refferal_link_fb" target="_blank">
                              <i class="fa fa-facebook"></i></a> 
                              <a target="_blank" href="" class="refferal_link_tw"><i class="fa fa-twitter"></i></a> 
                              <a target="_blank" class="refferal_link_gg">
                                 <i class="fa fa-google-plus"></i>
                                 
                              </a>
                              
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </div>

                     
                  </div>
               </div>

               <!-- end content--> 
            </div>

            
            
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row" style="margin-top: 100px;">
         <div class="col-md-12">
            <div class="card">
               <div class="content" id="your_refferal"><h2 class="text-center">Empty</h2></div>
            </div>
         </div>
      </div>
   </div>
</div>

