<div class="content">
   <div class="container-fluid">
      <div class="row">
      	<di class="col-md-12" style="
    min-height: 500px;
">
      		<div class="card">
            <input id="refuid" type="hidden" value="{{user._id}}" class="form-control"> 
      			<div id="TreeSystem" class="demo"></div>
      		</div>
      	</di>
      </div>
   </div>
</div>