<div class="content team-account">
   <div class="container-fluid">
      {{#if p_node}}
      <div class="row">
         <div class="col-md-12">
                  <div class="main-wallet" style="text-align: left;">
                     <h5>Upline name: <strong>{{sponsor_name}}</strong></h5>
                     <h5>Upline email: <strong>{{sponsor_mail}}</strong></h5>
                     <span class="help-block">If you have any questions, you can contact your upline. They will be happy to help with the usage of our website. Probably they've already earned money with us, ask for their experiences!</span>
                  </div>
              
         </div>
      </div>
      {{/if}}
      <div class="row team-ref">
         <div class="col-md-12">
            <div class="panel" style="border: 1px solid #c2c8d8;">
                    
                    <h3 class="mtn text-left" style=" padding-left:15px">Referral</h3>
                         <div class="panel-body" style="margin-top: 0">
                           <div id="your_refferal">
               
                           </div>
                            
                        </div>
             
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="panel" style="border: 1px solid #c2c8d8;">
                    
                    <h3 class="mtn text-left" style="padding-left:15px">Team</h3>
                         <div class="panel-body" style="margin-top: 0">
                           <div id="teamBBL">
                  
            </div>
                            
                        </div>
             
            </div>
         </div>
      </div>

   </div>
</div>
