<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h4 class="title">Transactions History
                  </h4>
               </div>
               <div class="content">
                  <div class="nav-tabs-navigation">
                     <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                           <li class="active">
                              <a href="#pilllec" data-toggle="tab">BBL WALLET</a>
                           </li>
                           <li>
                              <a href="#pillusd" data-toggle="tab">USD WALLET</a>
                           </li>
                           <li>
                              <a href="#pillwithdraw" data-toggle="tab">WITHDRAW</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="tab-content">
                     <div class="tab-pane active" id="pilllec">
                       <div  id="history_transaction">
                          
                              <div  id="transaction-wallet-lec">
                                
                                 <div class="no-transaction text-center">
                                    <div class="img-circle"> <img src="/static/img/1758-200.png" alt="Coin" > </div>
                                    <h2>No transactions</h2>
                                   
                                 </div>
                                 <!-- <div class="material-datatables"> <table id="datatables-transaction" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0" > <thead> <tr> <th>Name</th> <th>Position</th> <th>Office</th> </tr> </thead> <tbody> <tr> <td>Jenette Caldwell</td> <td>Development Lead</td> <td>New York</td> </tr> </tbody> </table> </div> --> 
                              </div>
                              <!-- end content--> 
                         
                        </div>
                     </div>
                     <div class="tab-pane" id="pillusd">
                        <div  id="transaction-wallet">
                                
                                 <div class="no-transaction text-center">
                                    <div class="img-circle"> <img src="/static/img/1758-200.png" alt="Coin" > </div>
                                    <h2>No transactions</h2>
                                   
                                 </div>
                                 <!-- <div class="material-datatables"> <table id="datatables-transaction" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0" > <thead> <tr> <th>Name</th> <th>Position</th> <th>Office</th> </tr> </thead> <tbody> <tr> <td>Jenette Caldwell</td> <td>Development Lead</td> <td>New York</td> </tr> </tbody> </table> </div> --> 
                              </div>
                              <!-- end content--> 
                     </div>
                     <div class="tab-pane" id="pillwithdraw">
                        <div id="your_withdraw">
                         
                           <div class="no-transaction text-center">
                              <div class="img-circle"> <img src="/static/img/1758-200.png" alt="Coin" > </div>
                              <h2>No transactions</h2>
                            
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>