<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h4 class="title">Invite Friends
                  </h4>
               </div>
               <div class="content invte_firends">
                  <div class="item-invte text-center">
                                          <xmp>
<a href="https://bitbeeline.co/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Medium-Rectangle.png"/></a>
</xmp> 
                     <img src="/assets/img/Medium-Rectangle.png"/>  
                     
                  </div>

                  <div class="item-invte text-center">
                     <xmp><a href="https://bitbeeline.co/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Leaderboard.png" /></a></xmp>
                     <img src="/assets/img/Leaderboard.png"/>
                     
                     
                  </div>

                  <div class="item-invte text-center">
                     <xmp><a href="https://bitbeeline.co/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Facebook-AD-Medium.png" /></a></xmp>
                     <img src="/assets/img/Facebook-AD-Medium.png"/>
                     
                     
                  </div>

                  <div class="item-invte text-center"><xmp><a href="https://bitbeeline.co/?affiliate={{sponsor_mail}}"><img src="https://bitbeeline.co/img/Wide-Skyscraper.png" /></a></xmp>
                     <img src="/assets/img/Wide-Skyscraper.png"/>
                     
                     
                  </div>
               
               </div>
            </div>
         </div>
      </div>
   </div>
</div>