<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bitbeeline - Partnerships</title>

    <link rel="icon" type="image/png" href="/assets/img/logo-coin.png">

    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/owl-carousel.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen" href="../aos/aos.css">
    <meta property="og:url" content="https://Bitbeeline.co" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Bitbeeline" />
    <meta property="og:description" content="Community-Earn, Buy, Sell and Trade | Bitbeeline" />
    <meta property="og:image" content="https://Bitbeeline.co/assets/img/logo_share.jpg" />
    

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Bitbeeline">
    <meta name="twitter:creator" content="@Bitbeeline">
    <meta name="twitter:title" content="Bitbeeline Community-Earn, Buy, Sell and Trade | Bitbeeline">
    <meta name="twitter:description" content="Bitbeeline Community-Earn, Buy, Sell and Trade | Bitbeeline">
    <meta name="twitter:image" content="https://Bitbeeline.co/assets/img/logo_share.jpg">


    <meta name='COPYRIGHT' content='&copy; Bitbeeline.co' />    
    <meta name="robots" content="noodp,index,follow" />    
    <meta name="keywords"
          content="BBL,Bitbeeline,cryptocurrency,crypto,blockchain,coin market,ethereum,bitcoin,ETH,BTC,ico,initial coin offering,mining, trading, staking, lending">
      <meta name="description"
          content="Bitbeeline (BBL) - Blockchain Technology , Trading, Mining, Staking, Lending">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"dzKYp1DTcA20Ug", domain:"bitbeeline.co",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=dzKYp1DTcA20Ug" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

</head>
<body>
    <div id="preloader-load" class="preloader-load">
        <div class="spinner-load">
            <div class="load1"></div>
            <div class="load2"></div>
            <div class="load3"></div>
            <div class="load4"></div>
            <div class="load5"></div>
        </div>
    </div>
    
    <div id="home"></div>
    <header id="site-header" class="home-header">
    <div id="particles-js"></div>
        <!-- Navigation Start -->
        <nav id="navigation" class="navbar navbar-inverse navbar-toggleable-md bg-inverse fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="#home">
                        <img src="images/logo.png" width="80" alt="Logo Bitbeeline">
                    </a>
                    
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-aspire" aria-controls="navbar-aspire" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="navbar-collapse collapse flex-row-reverse" id="navbar-aspire">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link page-scroll" href="/">Home</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="../login-system.html">lending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="../ico">ICO</a>
                        </li>
                        
                    </ul>
                </div>
               
            </div>
          
        </nav>
       
    </header>
    
    <section id="about" class="about-section wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
        	<h2 class="text-center" style="text-transform: uppercase;">OUR PARTNERS in the coming time</h2>
            <div class="row about-features">

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/computer-chip-512.png" width="100" />
                        <h3>Electronics & Mining</h3>
                    </div>
                    
                </div>
                
                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/icon_charityrecommendations_2000x1200px-850x510.png" width="100" />
                        <h3>Charities</h3>
                        
                    </div>
                   
                </div>
               
                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/gamecontroller-512.png" width="100" />
                        <h3>Gaming</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/pd_catalogue_icon.svg" width="100" />
                        <h3>ART & Collectibles</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/hosting.png" width="100" />
                        <h3>Hosting / VPS & VPN</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/food_dining_icon.png" width="100" />
                        <h3>Dining & Groceries</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/gitcard.png" width="100" />
                        <h3>Gift Cards / Prepaid</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/health_beauty.png" width="100" />
                        <h3>Health & Beauty</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/trave.jpg" width="100" />
                        <h3>Tour & Travels</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/hospital.png" width="100" />
                        <h3>Hospital</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/resource-icon-high-school-300x300.jpg" width="100" />
                        <h3>Schools</h3>
                        
                    </div>
                   
                </div>

                <div class="col-md-4 col-sm-4" data-aos="fade-up">
                    <div class="about-features-1 text-center">
                        <img src="images/military-icon-large.png" width="100" />
                        <h3>Military</h3>
                        
                    </div>
                   
                </div>



            </div>
           
        </div>
       <div class="clearfix"></div>
    </section>
   
    <section id="video" class="video-section">
        <div class="container">
            <div class="portfolio-wrapper wow fadeIn" data-wow-delay="0.2s">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="banner-play-button">
                            <a href="https://www.youtube.com/watch?v=KKiUewLBbxE" id="btn" class="btn play-btn video-play wow animated fadeInUp" data-wow-delay="1.5s" data-wow-duration="1.5s">
                                <span class="btn-icon">
                              <i class="fa fa-play"></i>
                             </span>
                            </a>
                            <h3>Bitbeeline</h3>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </section>
    
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 footer-text wow fadeIn" data-wow-delay="0.2s">
                    <div class="social-icon" data-aos="fade-up">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://Bitbeeline.co&title=Bitbeeline Community-Earn, Buy, Sell and Trade | Bitbeeline"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://twitter.com/intent/tweet?text=https://Bitbeeline.co&title=Bitbeeline"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://plus.google.com/up/accounts/upgrade/?continue=https://Bitbeeline.co&title=Bitbeeline"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.reddit.com/submit?url=https://Bitbeeline.co&title=Bitbeeline"><i class="fa fa-reddit" aria-hidden="true"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </div>
                    <
                    <p>© Copyright 2017 <a href="#">Bitbeeline.</a> All Rights Reserved.</p>
                </div>
                
            </div>
            
        </div>
        
    </footer>
    
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/tether.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl-carousel.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="js/particles.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="../aos/aos.js"></script>
    <script type="text/javascript">
        AOS.init({
          duration: 1200,
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-823042674"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-‎823042674');
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111540845-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-‎111540845-1');
      </script>
</body>

</html>