<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/img/logo-fav.png">
<title>Buy-Sell-Trade Digital Assets</title>
<link rel="stylesheet" href="/home/style.css" type="text/css">
<link rel="stylesheet" href="/home/responsive.css" type="text/css">
<link rel="stylesheet" href="/home/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/home/intlTelInput.css" type="text/css">
  <link rel="stylesheet" href="/home/demo.css" type="text/css">
<!-- Bootstrap -->
<meta property="og:url" content="https://goodex.co"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="goodex.co"/>
<meta property="og:description" content="New member registered to receive 5 STC, with f1 registered to receive 5 STC when trading. Enough 5,000 members will open deal"/>
<link href="/home/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body cz-shortcut-listen="true" class="" style="">
<header class="cls_tophead">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
      <div class="navbar-header">
        <div class="logo"> <a href="/">
        <img src="/img/logo.png" width="160" />
        
          </a></div>
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar1" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse collapse row" aria-expanded="false" id="navbar1">
        <div class="top_link clearfix">
          <ul class="list-inline tp_mnlis">
         
             
          </ul>
		      <ul class="list-inline tp_mnlis1">
            <li><a href="/markets.html"> Market </a></li>
            <li><a href="/add-coin.html"> Add Coin </a></li>
            <li><a href="/login_user"> Sign in </a></li>
            <li><a href="/register_user"> Create an Account </a></li>
          </ul>
        </div>
      </div>
    </div>
   </div>
  </div>
</header><section class="banner_sc">
  <div class="bann_imsc"> <img class="img-responsive center-block" src="/home/banner1.png"> </div>
  <div class="bann_imscnt">
    <div class="container">
      <h1>World Cryptocurrency Exchange</h1>
      <h3>Buy / Sell &amp; Trade Digital Assets </h3>
             <h4>New member registered to receive 5 STC, with f1 registered to receive 5 STC when trading. Enough 5,000 members will open deal</h4>
            <!--  <p>Coin offers institutions and professionals the ability to trade a variety of digital currencies like Bitcoin, Ethereum, and more on a regulated U.S based exchange</p> -->
            <ul class="list-inline text-center ban_btn">
              <li><a href="/register_user">Create Your Account</a></li>
              <li><a href="/login_user">Sign in</a></li>
             </ul>
            <p style="color: #ffae00; font-size: 18px">Congratulations Goodex has over 5000 members, Now allow trading.</p>
            
          </div>
  </div>
</section>
<!-- <section class="graph_sc">
  <div class="graph_values">
   <marquee behavior="scroll" scrollamount="3" direction="left">
    <ul class="list-inline gr_lis">
            <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>XRP/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00009761 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>ETH/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.10025886 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>LTC/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.01833857 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>SYS/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00006219 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>DASH/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.07169202 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>ETC/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00299219 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>XMR/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.02853371 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>PIVX/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00067085 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>VRC/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00315200 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>NMC/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00018110 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>BCH/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.14831850 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>NAV/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00068720 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>BLK/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00000175 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>DGB/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00000422 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>ZEC/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.05407702 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>DOGE/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00000062 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>GAME/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00056350 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>BTC/SYS <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>1.01000000 SYS</h4>
            <h5>Volume: <span class="in_val1">0.00</span> SYS</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>STC/BTC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00008592 BTC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>ETH/STC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00100043 STC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			      <li>
        <div class="gr_valsc1 clearfix">
          <div class="gr_valim1"> <img src="/home/line1.png" class="img-responsive"> </div>
          <div class="gr_valcnt1">
            <h5>BCH/STC <span class="fa fa-caret- in_val ">0%</span></h5>
            <h4>0.00066418 STC</h4>
            <h5>Volume: <span class="in_val1">0.00</span> BTC</h5>
          </div>
        </div>
      </li>
			    </ul>
   </marquee>    
  </div>
</section> -->


    </div>
  </div>
  </div>
  <div id="onload_pp" class="modal fade dep_pop onload_pp" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="vertical-align-center">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>            
              <div class="cm_head4">
                <h4>Trade Order Details</h4>               
              </div>
              <div class="trd_cnp1">
              <p id="pp_trade_id"></p>
			  <div id="initial_div"></div>
              <div class="trd_net" id="partial_div"></div>
              </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="auth-modal" class="modal fade dep_pop" role="dialog" style="display: none;">
  <div class="vertical-alignment-helper">
    <div class="vertical-align-center">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <div class="wd_330 fn center-block">
              <div class="cm_head4">
                <h4>Authenticate to continue</h4>
              </div>
              <p class="mar-top-30"><a href="/login_user"><button type="button" class="cm_blubtn1 center-block">Login</button></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/home/socket.io.js" type="text/javascript"></script>
<script src="/home/date.js" type="text/javascript"></script>

<section class="feat_sc1">
  <div class="container">
    <div class="col-md-9 col-sm-12 col-xs-12 fn center-block">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="feat_blk1 feat_lef1">
            <div class="feat_im1"> <img src="/home/feat1.png" class="imfst"> <img src="/home/feat1_hover.png" class="imlast"> </div>
            <div class="feat_cnt1">
                          <h4>World class trading platform</h4>
              <p>Coin offers an intuitive interface with real time orderbooks, charting tools, trade history, and a simple order process so you can trade from day one.</p>
                            <a href="/markets.html" class="blu_tx1">View Coin  </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="feat_blk1 feat_rig1">
            <div class="feat_im1"> <img src="/home/feat2.png" class="imfst"> <img src="/home/feat2_hover.png" class="imlast"> </div>
            <div class="feat_cnt1">
                            <h4>Industry leading API</h4>
              <p>Our Websocket feed lets you easily gain access to real-time market data, while our trading API lets you develop secure, programmatic trading bots.</p>
                            <a href="/" class="blu_tx1">Read full API documentation </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feat_sc2">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 cls_resp50">
        <div class="feat_blk2">
          <h4> <span class="feat_im2"> <img src="/home/feat3.png" class="imfst1"> <img src="/home/feat3_hover.png" class="imlast1">
                        </span> Trusted and Secure </h4>
          <p></p><p>We undergo regular IT security and financial audits. In addition, 98% of customer digital assets are stored entirely offline.</p>
<p></p>
                  </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 cls_resp50">
        <div class="feat_blk2">
          <h4> <span class="feat_im2"> <img src="/home/feat4.png" class="imfst1"> <img src="/home/feat4_hover.png" class="imlast1"> 
                     </span> We are Insured </h4>
          <p></p><p>98% of &nbsp;digital assets held in our exchange are cold storage.</p>
<p></p>
                  </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 cls_resp50">
        <div class="feat_blk2">
          <h4> <span class="feat_im2"> <img src="/home/feat5.png" class="imfst1"> <img src="/home/feat5_hover.png" class="imlast1"> 
                     </span> Backed by Top Investors </h4>
          <p></p><p>Our investors&nbsp;</p>
<p></p>
                  </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 cls_resp50">
        <div class="feat_blk2">
          <h4> <span class="feat_im2"> <img src="/home/feat6.png" class="imfst1"> <img src="/home/feat6_hover.png" class="imlast1"> 
                     </span> 0% Maker Fees  </h4>
          <p>Coin offers no fees on maker trades and offers volume-based discounts on all taker fees, going as low as 0.25%. See our fee structure here.</p>
                  </div>
      </div>
    </div>
  </div>
</section>
 <section class="cm_acc">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="acc_sc1">
          <h3>Trade</h3>
                     <h4>Create an account to start trading</h4>
          <h5>Coin offers institutions and professionals the ability to trade a variety of digital currencies like Bitcoin, Ethereum and more on a fully regulated U.S. based exchange.  </h5>
                  </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="acc_btn">
          <a href="/register_user" class="cm_blubtn">Create an Account</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="app_sc">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <h3> <span class="mob_im"> <img src="/home/feat7.png" class="imfst"> </span> Get this mobile wallet now, available on</h3>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="list-inline app_im">
          <li><a href="/"><img src="/home/app1.png"></a></li>
          <li><a href="/"><img src="/home/app2.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="foot_bot">
    <div class="container">
    <p>Support: admin@goodex.co</p>
      <p>Copyright © 2018  All Rights Reserved .</p>
    </div>
  </div>
</footer>



<link href="/home/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<script src="/home/jquery.min.js" type="text/javascript"></script>
<script src="/home/jquery.growl.js" type="text/javascript"></script>
<link href="/home/jquery.growl.css" rel="stylesheet" type="text/css">
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/home/bootstrap.min.js" type="text/javascript"></script>
<script src="/home/jquery.validate.min.js" type="text/javascript"></script>
<script src="/home/firebase.js" type="text/javascript"></script>


<script src="/home/home.js" type="text/javascript"></script>



<script src="/home/trading.js" type="text/javascript"></script>
<link rel="stylesheet" href="/home/jquery.mCustomScrollbar.css" type="text/css">
  <script src="/home/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
  <script src="/home/highstock.js" type="text/javascript"></script>
    
  
  </body></html>