<div class="main">
<div class="container">
   <div class="row">
      <div class="col-md-12">
      	<div class="col-md-12 text-center" style="margin-top: 50px;">
           <img class="site_logo" alt="Logo" width="300" style="" src="/img/logo.png" />
        </div>
        <div class="clearfix"></div>
         <div class="card-contact text-center">
            
            <form id="frmRegister" autocomplete="off">
               <img src="/img/loading.gif"/> 
               <div class="bg-while">
                   <div class="row ">
                     <div class="pull-left">
                        <h2 class="title-login m-0">Create an account</h2>
                     </div>
                     
                  </div>
                  <div class="row m-t-15">
                      <div class="floating-box text-left form-group" id="sponser">
                        <h2 class="title-login m-0">Sponsor: <span></span></h2>
                      </div>
                     <div class="form-group user"> <input id="user" name="user" type="text" class="form-control autocomplete="off"" placeholder="Username"/> <span class="m-t-10 floating-box m-b-10 red p-l-10 text-left error-box"></span> </div>
                     <div class="form-group email"> <input id="email" name="email" type="text" class="form-control autocomplete="off"" placeholder="Email"/> <span class="m-t-10 floating-box m-b-10 red p-l-10 text-left error-box"></span> </div>
                     <div class="form-group password"> <input id="password" name="password" type="password"  class="form-control" autocomplete="off" placeholder="Password"/> <span class="m-t-10 floating-box m-b-10 red p-l-10 text-left error-box"></span> </div>
                     <div class="form-group re-password"> <input id="re-password" name="re-password" type="password"  class="form-control" autocomplete="off" placeholder="Confirm Password"/> <span class="m-t-10 floating-box m-b-10 red p-l-10 text-left error-box"></span> </div>



                     <div class="floating-box">
                        <div id="recaptcha" class="m-b-15"></div>
                     </div>
                     <div class="login-href pull-right">You already have an account? <a href="/login_user" class="pull-right"> Login here </a>  </div>
                     <div class="form-group"> <button class="btn btn-danger p-0 m-0" type="submit"> SUBMIT </button> </div>
                  </div>
            </form>
            </div> 
         </div>
      </div>
   </div>
</div>
<style type="text/css"> @keyframes flickerAnimation {0%   { opacity:1; } 50%  { opacity:0; } 100% { opacity:1; } } @-o-keyframes flickerAnimation{0%   { opacity:1; } 50%  { opacity:0; } 100% { opacity:1; } } @-moz-keyframes flickerAnimation{0%   { opacity:1; } 50%  { opacity:0; } 100% { opacity:1; } } @-webkit-keyframes flickerAnimation{0%   { opacity:1; } 50%  { opacity:0; } 100% { opacity:1; } }
#sponser{ display: none; } #sponser h2{font-size: 15px}  </style>