
<div class="banner-section" style="min-height: 80px;"></div>
<div class="clear"></div>
<section id="services" >
   <div class="theme-heading">
      <h2 style="font-size: 30px">{{title}}</h2>
      <span class="heading-circle"><i class="heading-pink-circle"></i></span>
   </div>
   <div class="container" id="about-us">
      <div class="row">
         <div class=" col-md-8">
            <div class="panel-group news-content-container" id="faqAccordion">
               <p class="text-center">
                  <img src="/assets/img/new1.jpg" class="img-responsive" />
               </p>
               <p>Calling off 2MB blocks marks the end of a 3-year effort between different political groups inside Bitcoin trying to come to a compromise. Core developers may feel like they have won the battle, but a silent majority will leave quietly, selling their coins and driving down price over time.</p>
               <p>At the same time, it marks the beginning of a new age in human history. One where individuals have a freedom of choice, and a freedom of exit.</p>
               <h4>”New York Agreement” called off</h4>
               <p>I was fully expecting Nov 16th to be an apocalypse for Bitcoin. Over 80% of miners were signaling support for 2MB blocks, and several hundred of the largest Bitcoin exchanges and companies had signed an agreement to support the block size increase. Despite businesses planning for 2MB blocks, much of the Bitcoin user community and core development team was prepared to reject the software change, which would split the Bitcoin network in a most disruptive way.</p>
               <p>The split would have been a disaster for Bitcoin. However, the price of Bitcoin has been reaching new all-time-highs because uninformed investors have been conditioned to think that a fork in Bitcoin means that you get free coins. That was the case with Bitcoin Cash, but the chain split planned for Nov 16th would have been very different.</p>
               <p>Under the SegWit2x split scenario, I don’t think it would have been possible for anyone to agree which was the “real” Bitcoin chain anymore. Large companies like Coinbase had agreed to support both chains. The 2MB chain planned to launch with no replay protection for users, which would have caused massive confusion and loss of funds. As the first clean fork of Bitcoin, with a clear plan and goal of being business-friendly, I expected Bitcoin Cash to be a big winner. The price of Bitcoin Cash has gone up nearly 100% in the past two weeks with many investors speculating on a “Cashening.”</p>
               <h4>“Dumb Money” pouring into Bitcoin</h4>
               <p>People are exuberant about the price of Bitcoin increasing to nearly 7x the price it was at the beginning of the year. Real-life meetups are full of new faces and first-time investors. The Bitcoin subreddit is full of people cheering each other on about buying their first 0.1 BTC and expecting a 10x annual ROI.</p>
               <p>One of the bullish pieces of news driving the mania is that the CME Group plans to add Bitcoin futures this year, potentially making Bitcoin available to billions of dollars worth of new investors. However, Wall Street hedge fund investors are not suckers. Even if a hedge fund wants to buy into Bitcoin, they might try to short it first to drive the price down and shake out weak holders. If they can cause a few billion in losses from the people who bought the top by shorting it all the way down to $3000 (where it was a few months ago), they will.</p>
               <h4>Blockchains: New kind of entity</h4>
               <p>Blockchains are a new kind of entity, much in the same way that corporations with shareholders were a new kind of entity invented 400 years ago. Today, corporations are able to lobby Congress and have many of the same rights as humans. We will see Blockchains also gain access to these rights in the near future.</p>
               <p>I fully expect the market cap of all crypto tokens to increase exponentially over the next few years, but this is not a winner-take-all scenario. Today, mainstream media financial advisors are touting Bitcoin as “the new gold,” but it can’t ever be that. To get a sense of how it’s different, imagine a universe where anyone could create a new kind of metal with essentially the same properties of gold.</p>
               <p>Expecting Bitcoin to have the majority market share of Blockchains in the future is about as ridiculous as expecting the East India Company to be more valuable than all other corporations combined today.</p>
               <h4>Demand for Bitcoin and rise of crypto-ruble</h4>
               <p>Through much of 2014–2015, the price of Bitcoin declined. However, in 2016–2017, we started to see some larger demand for Bitcoin driven by ransomware, Ponzi schemes like “MMM,” Chinese citizens evading capital controls, and a means of transferring value into other Blockchain tokens (“ICOs”).</p>
               <p>Russia has recently announced that they are looking into developing their own “crypto-ruble.” The crypto-ruble will feature a 13% tax into and out of paper fiat if the redeemer is unable to provide documentation of the transaction history.</p>
               <p>Because Russia will be much more centralized and efficient than Bitcoin at processing transactions, I expect the crypto-ruble to be an attractive alternative to Bitcoin for ransomware, people escaping hyper-inflation, and Chinese citizens circumventing capital controls (especially in the event of a Bitcoin bear market).</p>
               <p>The Chinese government shut down the BTCC exchange last month with rumors that they may pursue a crypto-yuan as well. It’s clear that some very big players are ready to enter this market, and they aren’t interested in sharing their money with Mr. Nakamoto.</p>
               <div class="clearfix"></div>
            </div>
            <!--/panel-group-->
         </div>

         <div class="col-md-4">
            <div class="news-content-container ">
               <h3 style="margin-top: 0">RECENT POSTS  </h3>
               <div class="div-new-post-cointainer">
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new1.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html">Bitcoin Reaches End of An Era: Expert Blog</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new2.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html">Max Keiser: Saudi Arabia’s Bin Talal is Bitcoin ‘Poster Boy’</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new3.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html">SegWit2x Is Dead, Long Live Bitcoin! Price Hits All-Time High As Hard Fork Canceled</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                 
               </div>
            </div>
         </div>


      </div>
   </div>
</section>
<div class="clear"></div>


