
<div class="banner-section" style="min-height: 80px;"></div>
<div class="clear"></div>
<section id="services" >
   <div class="theme-heading">
      <h2 style="font-size: 30px">{{title}}</h2>
      <span class="heading-circle"><i class="heading-pink-circle"></i></span>
   </div>
   <div class="container" id="about-us">
      <div class="row">
         <div class=" col-md-8">
            <div class="panel-group news-content-container" id="faqAccordion">
               <p class="text-center">
                  <img src="/assets/img/new2.jpg" class="img-responsive" />
               </p>
               <p>Max Keiser has publicly called arrested Saudi Prince Alwaleed bin Talal a “poster boy for why you should buy Bitcoin.”</p>
               <p>In an episode of the Keiser Report on Russia Today, the outspoken Keiser said the world’s richest Arab “wouldn’t have the problems” he is currently facing had he bought Bitcoin.</p>
               <p>Bin Talal is currently under ‘house arrest’ in the Ritz hotel in the Saudi capital Riyadh, where he is reportedly sleeping on an inflatable mattress.</p>
               <p>Previously, he had said he “doesn’t believe in this Bitcoin thing” and that the virtual currency is “Enron in the making.”</p>
               <p>Saudi authorities have confiscated bin Talal’s assets totaling around $33 bln as part of an alleged crackdown on corruption by King Salman.</p>
               <p>“He dissed Bitcoin and now he had all his wealth confiscated,” Keiser continued.</p>
               <p>Suspicions are meanwhile mounting as to the nature of the multiple arrests of Saudi princes. Assets worth $800 bln are thought of as targets and western media have posed the question as to whether King Salman’s move is more to take back cash than stamp out corrupt practices.</p>
               <p>Billionaires in the country are reportedly rushing to get assets offshore before the perhaps inevitable tide reaches their own wealth.</p>
            </div>
            <!--/panel-group-->
         </div>

         <div class="col-md-4">
            <div class="news-content-container ">
               <h3 style="margin-top: 0">RECENT POSTS  </h3>
               <div class="div-new-post-cointainer">
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new1.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html">Bitcoin Reaches End of An Era: Expert Blog</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new2.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html">Max Keiser: Saudi Arabia’s Bin Talal is Bitcoin ‘Poster Boy’</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new3.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html">SegWit2x Is Dead, Long Live Bitcoin! Price Hits All-Time High As Hard Fork Canceled</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                 
               </div>
            </div>
         </div>


      </div>
   </div>
</section>
<div class="clear"></div>


