
<div class="banner-section" style="min-height: 80px;"></div>
<div class="clear"></div>
<section id="services" >
   <div class="theme-heading">
      <h2 style="font-size: 30px">{{title}}</h2>
      <span class="heading-circle"><i class="heading-pink-circle"></i></span>
   </div>
   <div class="container" id="about-us">
      <div class="row">
         <div class=" col-md-8">
            <div class="panel-group news-content-container" id="faqAccordion">
               <p class="text-center">
                  <img src="/assets/img/new3.jpg" class="img-responsive" />
               </p>
               <p>Bitcoin has reached a new all-time high of $7,888 as participants of the SegWit2x hard fork announce they have “suspended” it.</p>
               <p>A circular sent to the mailing list by major proponent Mike Belshe says that it was “clear” the project “had not built sufficient consensus for a clean blocksize upgrade at this time.”</p>
               <p>SegWit2x will therefore not activate Nov. 16 as planned, Belshe not naming a possible future date.</p>
               <p>The message reads:</p>
               <p style="padding-left: 20px;"><i>“Our goal has always been a smooth upgrade for Bitcoin. Although we strongly believe in the need for a larger blocksize, there is something we believe is even more important: keeping the community together. Unfortunately, it is clear that we have not built sufficient consensus for a clean blocksize upgrade at this time. Continuing on the current path could divide the community and be a setback to Bitcoin’s growth. This was never the goal of SegWit2x.”</i></p>
               
               <p>Bitcoin prices shot up immediately the news became public, reaching a new all-time high just under $8,000 before steeply reversing, followed by a bounceback to around $7,700.</p>
               <p>SegWit2x had received a barrage of opposition from across the Bitcoin industry, with its few supporters likewise coming under pressure to justify the hard fork.</p>
               <p>A lack of replay protection - a mechanism preventing coins being accidentally spent on both chains - was a major criticism that made even Nick Szabo come out against SegWit2x today.</p>
            </div>
            <!--/panel-group-->
         </div>

         <div class="col-md-4">
            <div class="news-content-container ">
               <h3 style="margin-top: 0">RECENT POSTS  </h3>
               <div class="div-new-post-cointainer">
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new1.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/bitcoin-reaches-end-of-an-era-expert-blog.html">Bitcoin Reaches End of An Era: Expert Blog</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new2.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/max-keiser-saudi-arabias-bin-talal-is-bitcoin-poster-boy.html">Max Keiser: Saudi Arabia’s Bin Talal is Bitcoin ‘Poster Boy’</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="category-boder"></div>
                  <table class="table-new-news">
                     <tbody>
                        <tr>
                           <td class="td-image">
                              <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html" class="img-new-news-thumbnail">
                                 <img src="/assets/img/new3.jpg">
                              </a>
                           </td>
                           <td class="td-content">
                              <div class="div-new-news-time">
                                 November 10, 2017
                              </div>
                              <div class="div-new-news-title">
                                 <a href="/news/segwit2x-is-dead-long-live-bitcoin-price-hits-all-time-high-as-hard-fork-canceled.html">SegWit2x Is Dead, Long Live Bitcoin! Price Hits All-Time High As Hard Fork Canceled</a>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                 
               </div>
            </div>
         </div>


      </div>
   </div>
</section>
<div class="clear"></div>


