<section id="background_guide" class="padTB100">    
  <div class="header_guide">  
   <div class="container">
      <div class="row">   
         <h3>{{ title }}</h3>
         
      </div>
   </div>
  </div>
</section>


<section class="padTB100 guide_content">    
  <div class="container">
    <div class="row">
      <div class="row conatainentadjustment">
   
   <div class="col-md-8 content-block informations">
      
      <h3 class="widgettitle">{{ title }}</h3>
      <p>1. Create a bitbeeline account under this path: <a href="https://bitbeeline.co/register_user" target="_blank">https://bitbeeline.co/register_user</a></p>
      <p>2. Enter your username, email, password and click "Submit" to register your account.</p>
      <img src="/assets/img/invest_1.png"/>
      <p>3. Verify your email account by clicking the "Click to Verify Account" link that the system sends you.</p>

      <img src="/assets/img/invest_3.png"/>
      <p>4. Login account by link <a href="https://bitbeeline.co/login-system.html" target="_blank">https://bitbeeline.co/login-system.html</a></p>

      <img src="/assets/img/invest_4.png"/>
      
      <p></p>
      <div class="clearfix"></div>
      
   </div>
   <div class="col-md-4 sidebar-block right_guide">
      <div class="widget recent_posts mb40" style="">
         <h3 class="widgettitle mb30">Links</h3>
          <ul>

            <li>
              <a href="/guide/how-do-i-start-earning-interest-with-my-bitbeeline-coin.html">How do I start earning interest with my Bitbeeline Coin?</a>
            </li>
            <li>
              <a href="/guide/what-is-bitbeeline-mining.html">What is Bitbeeline mining?</a>
            </li>
            <li>
              <a href="/guide/how-to-buy-ico-bitbeeline.html">How to buy ICO Bitbeeline?</a>
            </li>
            <li>
              <a href="/guide/how-to-download-wallet.html">How to download wallet?</a>
            </li>
          </ul>
      </div>
   </div>
</div>
    </div>
  </div>
</section>