<section id="background_guide" class="padTB100"> 
  <div class="header_guide">     
   <div class="container">
      <div class="row">   
         <h3>{{ title }}</h3>
         
      </div>
   </div>
  </div>
</section>


<section class="padTB100 guide_content">    
  <div class="container">
    <div class="row">
      <div class="row conatainentadjustment">
   
   <div class="col-md-8 content-block informations">
      
      <h3 class="widgettitle">{{ title }}</h3>
        
      <p>1. To buy ICO you can go directly to the asdasd.html page or you can click on "Join ICO now" from the home page bitbeeline.<a href="https://bitbeeline.co/ico.html" target="_blank"><b>Buy ICO</b></a></p>
      <img src="/assets/img/buy_ico_1.png" alt="Buy ICO bitbeeline">
      <p>2. Click "Participate ICO" to enter BBL purchase information </p>

      <img src="/assets/img/buy_ico_2.png" alt="Buy ICO bitbeeline">
      <p>3. Enter information such as Bitbeeline address, Full name, Email BBL number to buy and click on "Buy BBL" to buy. </p>
      <img src="/assets/img/buy_ico_3.png" alt="Buy ICO bitbeeline">

      <p>4. Transfer BTC to the wallet address that the system requires.</p>
      <p>5. The transaction is successful when there is a confirmation from blockchain.</p>
      <div class="clearfix"></div>
      
   </div>
   <div class="col-md-4 sidebar-block right_guide">
      <div class="widget recent_posts mb40" style="">
         <h3 class="widgettitle mb30">Links</h3>
          <ul>

            <li>
              <a href="/guide/how-do-i-start-earning-interest-with-my-bitbeeline-coin.html">How do I start earning interest with my Bitbeeline Coin?</a>
            </li>
            <li>
              <a href="/guide/what-is-bitbeeline-mining.html">What is Bitbeeline mining?</a>
            </li>
            <li>
              <a href="/guide/how-to-buy-ico-bitbeeline.html">How to buy ICO Bitbeeline?</a>
            </li>
            <li>
              <a href="/guide/how-to-download-wallet.html">How to download wallet?</a>
            </li>
          </ul>
      </div>
   </div>
</div>
    </div>
  </div>
</section>