<div class="clearfix"></div>
<section id="ico" class="padTB100 token-sale">
   <div class="container">
      <div class="theme-heading" data-aos="fade-up">
         <h2>INITIAL COIN OFFERING (ICO)</h2>
         <span class="heading-circle"><i class="heading-pink-circle"></i></span>
         <div class="col-ms-12">
            <div class="ico_countdow">
               <h3 class="text-center">Pre-ICO Start In</h3>
               <div class="row centered text-center" id="myCounter"></div>
               <a href="" class="button_ico">
               <button onclick="return false;" class="btn-Ico btn-modal" 
                  data-toggle="modal"
                  data-target="#fsModal-Ico">
               Coming soon
               </button>
               </a>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
          <div class="section section-gray" id="roadmap" >
         <div class="container">
         
         <div class="col-md-8 col-md-push-2">
            <section class="cd-horizontal-timeline">
            
               <div class="timeline">
                 <div class="events-wrapper">
                   <div class="events">
                     <ol>
                       <li><a href="#0" data-date="01/01/2017" class="selected">0.5 $</a></li>
                       <li><a href="#0" data-date="01/02/2017">0.7 $</a></li>
                       <li><a href="#0" data-date="01/08/2017">0.9 $</a></li>
                       <li><a href="#0" data-date="01/01/2018">1.2 $</a></li>
                       
                    
                     </ol>

                     <span class="filling-line" aria-hidden="true"></span>
                   </div> <!-- .events -->
                 </div> <!-- .events-wrapper -->
                   
                 <ul class="cd-timeline-navigation">
                   <li><a href="#0" class="prev inactive fa fa-angle-double-left">
                     <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                   </a></li>
                   <li><a href="#0" class="next">
                     <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                   </a></li>
                 </ul> <!-- .cd-timeline-navigation -->
               </div> <!-- .timeline -->
            
               <div class="events-content">
                 <ol>
                   <li class="selected" data-date="01/01/2017">
                     <p style="padding: 0">Amount of BBL and current price</p>
                     <h2>420.000 BBL - 0.5 USD</h2>
                   </li>

                   <li data-date="01/02/2017">
                     <p style="padding: 0">Amount of BBL and current price</p>
                     <h2>360.000 BBL - 0.7 USD</h2>
                   </li>

                   <li data-date="01/08/2017">
                     <p style="padding: 0">Amount of BBL and current price</p>
                     <h2>300.000 BBL - 0.9 USD</h2>
                   </li>

                   <li data-date="01/01/2018">
                     <p style="padding: 0">Amount of BBL and current price</p> 
                     <h2>120.000 BBL - 1.2 USD</h2>
                   </li>
                 </ol>
               </div> 
             </section>
          </div>
         </div>
      </div>

      </div>

      <div class="row">
         <div class="col-md-8 col-md-push-2">

            <div class="progress">
               <div class="progress-bar" style="width:70%">70%</div>
            </div>
         </div>
      </div>
      <div class="title-area" data-aos="flip-left"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="2000">
      </div>
      <div class="row">
         <div class="col-md-8 col-md-push-2">
            <div class="row">
               <div class="text-center" data-aos="fade-down">
                  <img src="assets/img/meta-chart.png" class="img-responsive ico_chart_img" style="margin: 0 auto;float: none; width: 80%" />
               </div>
               <h3 style="font-weight: 500" class="text-center">1,200,000 (1.2 million BBL)</h3>
            </div>
         </div>
      </div>
      
   </div>
</section>

<section id="download" class="main-section padTB100" >
   <!-- Overlay Color -->
   <div class="gradient-color overlay"></div>
   <div class="container">
      <div class="theme-heading">
         <h2>Wallet Bitbeeline</h2>
         <span class="heading-circle"><i class="heading-pink-circle"></i></span>
         
      </div>
     
      <!-- Description -->
      <p class="p-t-1 desc">Bitbeeline is a crypto-currency and not much different from bitcoin. Transaction are propagated nearly instantly in the network and are confirmed in a couple of minutes. Since they happen in a global network of computers they are completely indifferent of your physical location.

</p>
      <div class="row p-t-2 text-center">
         <div class="col s12 l9">
            <!-- Link to download on the Apple store -->
            <a href="#" class="m-t-1 grey darken-4 waves-effect waves-light">
            <span class="big-icon">
            <i class="fa fa-linux"></i>
            </span>
            <span class="text">
            <small>available on</small><br> Linux
            </span>
            </a>
            <!-- Link to download on the Google store -->
            <a href="#" class="m-t-1 grey darken-4 waves-effect waves-light">
            <span class="big-icon">
            <i class="fa fa-android"></i>
            </span>
            <span class="text">
            <small>available on</small><br> Google Store
            </span>
            </a>
            <!-- Link to download on the Windows store -->
            <a href="#" class="m-t-1 grey darken-4 waves-effect waves-light">
            <span class="big-icon">
            <i class="fa fa-windows"></i>
            </span>
            <span class="text">
            <small>available on</small><br> Windows App
            </span>
            </a>
         </div>
         <!-- Iphone Image on right -->
         <div class="col s12 l3 hide-on-med-and-down aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <img class="responsive-img" src="images/iphone-mock/blue/1-1.png" alt="">
         </div>
      </div>
   </div>
</section>
   

<div class="clearfix"></div>
<div id="fsModal-Ico"
   class="modal fade"
   tabindex="-1"
   role="dialog"
   aria-labelledby="myModalIco"
   aria-hidden="true" >
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- <div class="modal-header">
            <h1 id="myModalIco"
               class="modal-title">
               Buy Bitbeeline
            </h1>
         </div> -->
         <div class="modal-body">
            <div class="col-md-6 col-md-offset-3">
            <div id="IcoContent">
            <div class="well" id="IcoContentSuccess">
              <h3 class="text-center" style="margin-top: 5px;">Buy Bitbeeline</h3>
                     <div class="text-center">
                        <p style=" color: #fb9700; font-weight: bold; font-size: 20px; ">
                           Current price: 1 BBL = <span class="rate"> </span> 
                        </p>
                     </div>
                     <input type="hidden" name="rate_coin" id="rate_coin" value="0.5">
                  <input type="hidden" name="lec_btc" id="lec_btc" value="0.5">
                  <form id="frmIco" method="post">
                  <div class="text-center">
                     <p>
                        <span id="textError" class="text-danger"></span>
                     </p>
                  </div>
                
                     <div class="form-group"> <label for="lecaddress">Enter Bitbeeline address</label> <input type="text" class="form-control " id="lecaddress" name="lecaddress" required="" autocomplete="off"/>
                        <span class="text-danger"></span>
                     </div>
                     <div class="form-group"> <label for="fillname">Full Name</label> <input type="text" class="form-control " id="fullname" name="fullname" required="" autocomplete="off"/>
                        <span class="text-danger"></span>
                     </div>
                   
                     <div class="form-group"> <label for="email">Email address</label> <input type="email" class="form-control " id="email" name="email" required="" autocomplete="off"/>
                        <span class="text-danger"></span>
                     </div>
                     <!-- Amounts --> 
                     <div class="row">
                        <div class="form-group col-md-6">
                           <label>Receive</label> 
                           <div class="input-group">
                              <div class="input-group-addon addon-aprox ordered hide">~</div>
                              <input type="text" id="amount_lec" class="form-control input-flyp " name="youramount" placeholder="Enter amount BBL"  required="" autocomplete="off"/>
                              <div class="input-group-addon ng-binding">BBL</div>
                           </div>
                        </div>
                        <div class="form-group col-md-6">
                           <label>Send</label> 
                           <div class="input-group">
                              <div class="input-group-addon addon-aprox invoiced ">~</div>
                              <input type="text" id="amount_btc" class="form-control input-flyp" name="amount_btc"  placeholder="Enter amount BTC"  required="" autocomplete="off"/>
                              <div class="input-group-addon">BTC</div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <span id="errAmount" class="text-danger"></span>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group" style=" margin: 0 auto; margin-bottom: 20px; ">
                           <div id="recaptcha" class="m-b-15"></div>
                        </div>
                     </div>
                     <div class="text-center">
                        <button style="min-width: 120px;" type="button" id="IcoSubmit" class="btn btn-flyp btn-wide btn-info">
                        Buy BBL
                        </button>
                        <button class="btn btn-danger"
                           data-dismiss="modal">
                        Close
                        </button>
                     </div>
                  </form>
            </div>
                  
            </div>
               
            </div>
         </div>
            
         <!-- footer -->
      </div>
      <!-- content -->
   </div>
   <!-- dialog -->
</div>
<!-- modal -->