<div class="" id="headers">
   <div class="header">
      <nav id="sticky-nav" class="navbar navbar-custom sticky navbar-center">
         <div class="container">
            <div class="navbar-header"> <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="" href="/" id="logo-home"> <img src="img/logo1.png" alt="logo" class="img-responsive navbar-brand logo1"> <img src="img/logo2.png" alt="logo" class="img-responsive navbar-brand logo2"> <img src="img/logo3.png" alt="logo" class="img-responsive logo3"> </a> </div>
            <div class="collapse navbar-collapse" id="navigation-example">
               <ul class="nav navbar-nav navbar-right">
                  <li> <a href="/#" target="_blank">WhitePaper</a> </li>
                  <li> <a href="/">ICO</a> </li>
                   <li> <a href="/how-to-buy" target="_blank"> How To Buy ICO</a> </li>
                  <li> <a href="https://bitbeeline.info" target="_blank">Wallet</a> </li>
                  <li> <a href="/">Download</a> </li>
           
                  <li> <a href="/login">Lending</a> </li>
               </ul>
            </div>
         </div>
      </nav>
   </div>
</div>
<section class="hero-ico" >
   <!-- <div class="ico-Container"> <div class="ico-row"> <div class="ico-hero-wrapper"> <div class="ico-hero-content"> --> 
   <div class="ico-header-wrapper">
   <div class="ico-header-title">
      <div class="lang ico-title" key="ico-title">BBL Initial Coin Offering (ICO) In Progress</div>
      <div id="clock" style="font-size: 30px;"> </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="block_btn">
            <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="bonus">
                  <h3 class="money">1 BBL=0.4 USD</h3>
                  <p class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 15th Oct to 22nd Oct </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="bonus">
                  <h3 class="money">1 BBL=0.6 USD</h3>
                  <p class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 23rd Oct to 30th Oct </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="bonus">
                  <h3 class="money">1 BBL=0.8 USD</h3>
                  <p class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 1st Nov to 7th Nov </p>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="block_btn_last">
            <div class="col-md-offset-2 col-md-4 col-sm-4 col-xs-12">
               <div class="bonus">
                  <h3 class="money">1 BBL=<span class="money"> 1</span> USD</h3>
                  <p class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 8th Nov to 15th Nov </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="bonus last-bonus">
                  <h3 class="money">1 BBL=1.2 USD</h3>
                  <p class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 16th Nov </p>
               </div>
            </div>
            <div class="clear-fix"></div>
         </div>
      </div>
      <div class="ico-firstTimer">
         <div class="ico-ft-title" key="ico-firstTimer-text"> <span class="lang ico-already-sold" key="ico-already-sold"> </span> <span></span> <span>BBL*</span> </div>
         <div class="funding-bar-border">
            <div class="funding-bar-progress" style="width: 0%;"></div>
         </div>
         <div class="funding-num">
            <div class="funding-num-zero">0 BBL</div>
            <div class="funding-num-full">6,000,000 BBL</div>
         </div>
      </div>
      <!-- <div class="row"> <div class="ST-smalltext lang" key="ico-ST-smalltext">*A maximum of 6 million BBL (Bitbeeline) will be sold in the ICO, representing approximately 30% of total BBL (28 million BBL). Any coins not sold by the end of the 60 - day ICO period, will be held by Bitbeeline and their uses will be as follows: <b>Technology Build, Maintenance, Upgrades</b> <b>Marketing, Community Development</b> <b>Bounties & Incentives</b> </div></div>--> 
      <div class="ico-ST-bottom">
         <div class="ico-ST-left-wrapper">
            <div class="ico-ST-title lang" key="ico-ST-title-lang">ICO time left</div>
            <div id="countup">
               <div class="part">
                  <div id="d" style="position: relative;">
                     <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#f1b941" stroke-width="4" fill-opacity="0"></path>
                     </svg>
                     <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255);"><span class="number">1</span></div>
                  </div>
                  <span class="label ico-day lang" key="days">Days</span> 
               </div>
               <div class="part">
                  <div id="h" style="position: relative;">
                     <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#f1b941" stroke-width="4" fill-opacity="0"></path>
                     </svg>
                     <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255);"><span class="number">19</span></div>
                  </div>
                  <span class="label ico-day lang" key="hours">Hours</span>
               </div>
               <div class="part">
                  <div id="m" style="position: relative;">
                     <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#f1b941" stroke-width="4" fill-opacity="0"></path>
                     </svg>
                     <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255);"><span class="number">51</span></div>
                  </div>
                  <span class="label ico-day lang" key="min">Minutes</span>
               </div>
               <div class="part">
                  <div id="s" style="position: relative;">
                     <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#f1b941" stroke-width="4" fill-opacity="0"></path>
                     </svg>
                     <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 255, 255);"><span class="number">26</span></div>
                  </div>
                  <span class="label ico-day lang" key="sec">Seconds</span>
               </div>
            </div>
            <div class="button-small-text-wrapper">
               <div class="ico-ST-btn"> <button type="submit" class="btn btn-warning btn-md btn-ico"> <span class="lang ico-act-now" >Participate ICO</span> </button> </div>
               <div class="ST-smalltext lang" key="ico-ST-smalltext">*A maximum of 6 million BBL (Bitbeeline) will be sold in the ICO, representing approximately 30% of total BBL (20 million BBL). Any coins not sold by the end of the 60 - day ICO period, will be held by Bitbeeline and their uses will be as follows: <b>Technology Build, Maintenance, Upgrades</b> <b>Marketing, Community Development</b> <b>Bounties & Incentives</b> </div>
            </div>
         </div>
         <div class="ico-header-table">
            <table class="ico-header-table-class">
               <tr>
                  <td class="ico-table-border">
                     <div class="ico-header-td-ST lang" key="ico-h-td-1-1">BBL coin issued on ICO</div>
                     <div class="ico-header-td1-BT lang" key="ico-h-td-1-2">6,000,000 (6 million)</div>
                  </td>
               </tr>
               <tr>
                  <td class="ico-table-border">
                     <div class="ico-header-td-ST lang" key="ico-h-td-2-1">Sale Target</div>
                     <div class="ico-header-td1-BT lang" key="ico-h-td-2-2">Equivalent to US$3,000,000</div>
                  </td>
               </tr>
               <tr>
                  <td class="ico-table-border">
                     <div class="ico-header-td-ST lang" key="ico-h-td-3-1">ICO ends at</div>
                     <div class="ico-header-td1-BT lang" key="ico-h-td-3-2">16 November 2017 11:59pm (HKT, +8)</div>
                  </td>
               </tr>
               <tr>
                  <td class="ico-table-border">
                     <div class="ico-header-td-ST lang" key="ico-h-td-4-1">Conversion</div>
                     <div class="ico-header-td1-BT lang" key="ico-h-td-4-2">1 BBL=<span class="rate_ast_usd"> </span> USD</div>
                  </td>
               </tr>
            </table>
            <div class="button-small-text-wrapper-right">
               <div class="ico-ST-btn"> <button type="submit" class="btn btn-warning btn-md btn-ico"> <span class="lang ico-act-now">Participate ICO</span> </button> </div>
               <div class="ST-smalltext lang" key="ico-ST-smalltext">*A maximum of 6 million BB: (Bitbeeline) will be sold in the ICO, representing approximately 30% of total BBL (20 million BBL). Any coins not sold by the end of the 60 - day ICO period, will be held by Bitbeeline and their uses will be as follows: <b>Technology Build, Maintenance, Upgrades</b> <b>Marketing, Community Development</b> <b>Bounties & Incentives</b> </div>
            </div>
         </div>
      </div>
   </div>
   <div class="clearfix"> </div>
   <div id="ico-pdf-wrapper" class="ico-pdf-wrapper not-shown">
      <div class="ico-pdf-title lang" key="ico-pdf-title">BBL coin sale agreement</div>
      <div class="ico-pdf-download-btn"> <a class="full-width-a" href="#" target="_blank"> <button type="submit" class="ico-btn-pink-fill"> <span class="lang" key="ico-pdf-download-btn">Download PDF</span> </button> </a> </div>
      <div class="ico-pdf-checkbox">
         <div class="ico-agree-div"> <label for="ico-pdf-checkbox-css"> <input type="checkbox" class="ico-agree" value="clarify" id="ico-agree"> </label> <span class="ico-clarify-text lang" key="ico-clarify">I confirm that I have carefully read and I agree the BBL Coin purchase agreeement.</span> </div>
         <!-- <div class="squaredFour"> <input type="checkbox" value="None" id="squaredFour" name="check"/> <label for="squaredFour"></label> </div>--> <button class="ico-btn-white-border lang" key="ico-pdf-download-agree">BUY COINS</button> 
      </div>
   </div>
   <!-- <div class="ico-wallet-address "> <div class="ico-wallet-ad-wrapper"> <div class="ico-wallet-ad-title lang" key="ico-w-a-t">Check your BBL balance by entering your BBL address below (give it a couple of minutes)</div><div class="ico-wallet-ad lang" key="ico-w-a">Sata Coin Address:</div><div class="row"> <div class="col-md-6 col-md-offset-3"> <div class="form-group label-floating "> <label class="control-label" style=" color: #5ebdf9; font-weight: bold; ">BBL Address<i class="help-block text-danger"></i></label> <input type="text" name="ast_wallet" id="ast_wallet" class="form-control" required data-validation-required-message="Please enter your ast Address"> </div><div class="text-center"> <button type="button" id="balance_ast" class="btn btn-info">AST BALANCE</button> </div></div></div></div></div>--> 
</section>
<div id="particles-js" style="display: none;"></div>
<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
            <h4 class="modal-title">BUY BITBEELINE</h4>

         </div>
         <div class="modal-body">
         <p class="text-center">1 BBL = <span class="rate_ast_usd"> </span> USD</p>
            <input type="hidden" name="rate_coin" id="rate_coin" value="0.5"> <input type="hidden" name="ast_btc" id="ast_btc" value="0.5"> <input type="hidden" name="btc_usd" id="btc_usd" value="0.5"> <input type="hidden" name="ast_eth" id="ast_eth" value="0.5"> 
            <form id="frmIco" method="post" novalidate>
               <div class="card-layer"></div>
               <div class="content">
                  <div id="success"></div>
                  <div class="form-group label-floating"> <label class="control-label">Amount BBL <i class="help-block text-danger"></i></label> <input type="text" name="youramount" id="youramount" class="form-control" required data-validation-required-message="Please enter the quantity you want to buy" autocomplete="off"> <span style="
    font-size: 12px;
    color: #7a6124;
">(Min: 50 BBL - Max: 10000 BBL)</span></div>
                  <h2 style=""> Payment Method Bitcoin (BTC)</h2>
                  <div class="radio" style="display: none;"> <label> <input type="radio" value="btc" name="yourpayment" checked="true"> Bitcoin (BTC) </label> </div>
                  <div class="radio" style="display: none;"> <label> <input type="radio" value="eth" name="yourpayment" > Ethereum (ETH) </label> </div>
                   <div class="form-group label-floating"> <input type="text" name="yourbtc" id="yourbtc" class="form-control" placeholder="0.0" readonly/> </div>
                
                  <div class="form-group label-floating"> <label class="control-label">Email <i class="help-block text-danger"></i></label> <input type="text" name="youremail" id="youremail" class="form-control" required data-validation-required-message="Please enter your Email" autocomplete="off"> </div>
                  <div class="form-group label-floating"> <label class="control-label">Your BBL Coin Wallet Address <i class="help-block text-danger"></i></label> <input type="text" name="yourwallet" id="yourwallet" class="form-control" required data-validation-required-message="Please enter Your BBL Coin Wallet Address" autocomplete="off"> </div>
                  <div class="input-group"> <input type="text" name="capcha" id="capcha" class="form-control" placeholder="Captcha"/> <span class="input-group-addon" style=" padding: 0px;background: transparent;border: 0px; " id="captcha-img" autocomplete="off"><img style="max-width:50px;" src="/img/loadding.gif"> </span> </div>
                  <span id="CaptchaError" class="error"></span> 
                  <div class="row">
                     <div class="col-md-12 text-right"> <i class="ion-ios-refresh-outline" id="reloadFN" style=" cursor: pointer; color: #63b425; "> Refresh Captcha</i> </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12 text-center"> <button type="button" id="IcoSubmit" class="btn btn-warning">BUY COIN</button> </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
      </div>
   </div>
</div>
<div class="modal fade" id="MymodalPayment" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
            <h4 class="modal-title">Payment</h4>
         </div>
         <div class="modal-body" id="modalPayment"> </div>
         <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
      </div>
   </div>
</div>